.connectComp{
    font-family: "Poppins";
    align-self: flex-end;
    margin-bottom: 15px;
    margin-left: calc(100% - 200px);

    .connectBtn{
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        background-color: #08D899;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0px 8px 16px rgba(8, 216, 153, 0.2);
        width: 200px;
        height: 45px;
    }
    .connectBtn:hover{
        box-shadow: 0 0 4px #000;
    }
}

@media screen and (max-width: 799px) {
    .connectComp{
        .connectBtn{
            height: 30px;
            width: 150px;
            font-size: 14px;
        }
    }
}